$font-small: 16px;
$font-normal: 22px;
$font-large: 26px;
$font-subtitle: 30px;
$font-title: 36px;

$main-color: #3d3d3d;

html, body {
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
  color: $main-color;
}
