$font-small: 16px;
$font-normal: 22px;
$font-large: 26px;
$font-subtitle: 30px;
$font-title: 36px;

$main-color: #3d3d3d;
$secondary-color: #757575;
$error: #fc8585;

html, body {
	margin: 0;
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
	color: $main-color;
}

input {
	font-family: 'Dosis', sans-serif;
	color: #3d3d3d;
}
