.cell-block {
	height: 50px;
	width: 50px;
	padding: 0;
	input {
		color: $secondary-color;
	}

	&.error {
		background-color: $error;
		input {
			color: #fff;
		}
	}

	&.prefilled input, &.prefilled.error input {
		font-weight: 700;
		color: $main-color;
	}

	&.prefilled.error input {
		color: #fff;
		background-color: $dark-red;
	}

	&.flag {
		background-color: $flag-color;
	}
}

.cell-input {
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	font-size: $font-normal;
	background: transparent;
	text-align: center;
	line-height: 50px;
	margin: 0;
	padding: 0;
}

.cell-prefilled {
	
}