$particleSize: 4;

body {
  margin:0;
  padding:0; 
  // overflow: hidden;
}

.particles {
  // overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.particleParent {
  transform-style: preserve-3d;
  position:absolute;
  pointer-events: none;
  perspective: 200px;
  perspective-origin: 50% 50%;
}
.particle {
  transform-style: preserve-3d;
  position: relative;
  animation: moveaway;
  animation-duration: 6s;
  animation-timing-function: ease-out;
  //border-radius: 100%; // make them circles, but I don't see any benefit. 
  width: #{$particleSize}px;
  height: #{$particleSize}px;
  background-color: $main-color;
}

@keyframes moveaway {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateX(100vw) rotateX(1080deg) rotateY(720deg) rotateZ(-360deg); 
    opacity: 0;
/*    width: 100px;
    height: 100px;*/
  }
  
}