.container {
	max-width: 1000px;
	margin: auto;
	display: flex;
	justify-content: space-around;
}

.content-container {
	display: flex;
	justify-content: space-around;

	.sudoku-container {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;

	&.main-wrapper {
		flex-grow: 1;
	}
	
	.tools-wrapper {
		height: 100%;
		width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
}

.title {
	text-align: center;
}

.info-text {
	text-align: center;
	margin-bottom: 10px;
}

.btn {
	cursor: pointer;

	span {
		visibility: hidden;
	}

	&:hover {
		span {
			visibility: visible;
		}
	}
}

.difficulty {
	display: flex;

		span {
			cursor: pointer;
			margin: 0 5px;

			&.active {
				border-bottom: 2px solid $main-color;
			}
		}
	}