.container {
	max-width: 1000px;
	margin: auto;
	display: flex;
	justify-content: space-around;
}

.wrapper {
	display: flex;
	flex-direction: column;

	&.main-wrapper {
		flex-grow: 1;
	}
	
	.tools-wrapper {
		height: 100%;
		width: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.title {
	text-align: center;
}

.info-text {
	text-align: center;
	margin-top:10px;

	&.difficulty {
		span {
			cursor: pointer;
			margin: 0 5px;
		}
	}
}