.sudoku-wrapper {
	overflow: hidden;
	margin: auto;
}

.sudoku {
	
	border-collapse: collapse;
	border: $border-soduku-bold;

	tr:not(:last-child) {
		border-bottom: $border-soduku;
	}

	tr:nth-child(3n):not(:last-child) {
		td {
			border-bottom: $border-soduku;
		}
	}

	td:nth-child(3n):not(:last-child) {
		border-right: $border-soduku-bold;
	}

	tr:hover {
		background-color: #eee;
	}

	td:not(:nth-child(3n)):not(:last-child) {
		border-right: $border-soduku;
	}

	td, th {
	  position: relative;
	}
	td:hover::after {
	  content: "";
	  position: absolute;
	  background-color: #eee;
	  left: 0;
	  top: -2000px;
	  height: 4000px;
	  width: 100%;
	  z-index: -1;
	}

}

.sudoku-row {
	display: flex;
}

.restore-list {

	.restore-sudoku {
		border: 1px solid $main-color;
		height: 100px;
		width: 100px;
		margin: 0 auto 20px auto;
		cursor: pointer;
	}
}